modal-page {

}
ion-modal {
    height: 25%;
    width:30%;
    top:150px;
    border:blue double 3px;
    background-color:yellow;
    font-size:6em;
    margin:0 0 0 25%;

}
.znak {
    height: 25%;
    width:30%;
    top:150px;
    border:red double 3px;
    border-radius:50%;
    background-color:yellow;
    font-size:6em;
    text-align:center;
    margin:0 0 0 25%;

}
